* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom,red, white, red);
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color: black;
  }
  img {
    width: 80%;
    display: block;
  }
.logoleft{
  height: 100px;
  width: 130px;
  float: left;
  
}
.logoright {
  height: 100px;
  width: 130px;
  float: right;

}
header {
  background-image: linear-gradient(to bottom,white, red);
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
.header-conatainer {
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;

}
  h1 {
   font-size:1.6rem;
    font-weight:700;
    margin:1rem;
    font-weight:bold;
    
  }
  header:hover {
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 15px;
  }
  .subtitulo :hover {
   color:white;
   background-color: red; 
   font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify;
    font-weight:bold;

  }
  li { list-style: none;
   display: inline-block;
   margin: 0 0.5rem;
   cursor: pointer;
   transition: 0.5s;
   }
  
 subtitulo , li:hover {
    font-size: 20px;    
    color: rgb(135, 250, 236);
    font-weight: bold;
  }
  
   a {

    text-decoration: none;
    /* anchor element by default do not inherit from the parent, however if we add this value it will. */
    color: inherit;
  }
  .main-container {
    padding-top: 1rem;
  }
  
  .hero-img {  
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;

  }
  .hero-text {
    text-align: center;
  }
.liverpool-section {
  display: flex;
  flex-direction: column;


}

.img-container {
margin-bottom: 1rem;
}
.liverpool-img {
  object-fit: cover;
  object-position: bottom center;
  }

  .img-text {
    text-align: center;
  }
  .footer {
    background-color: red;
    text-align: center;
    font-size: 20px;
  }
.footer-container {
  text-align:center;
  padding: 2rem 0;
}

.trophy {
  width: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
  }
@media(min-width: 900px){
h1 {
  color:red;
}
}


  