
body {
  background-image: linear-gradient(to top, white, red);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color: black;
  }
.logo{
  height: 180px;
  width: 220px;
  float: left;
}
.logo2 {
  height: 180px;
  width: 220px;
  float: right;

}
header {
    background-image: linear-gradient(to top,white, red, white,red);
    text-align: center;
    box-shadow: 10px 4px 10px 5px black;
  }
header:hover {
  color: red;
  background-color: red;
  font-weight: bold;
}
  h1 {
   font-size: 3.5rem;
    font-weight: 1000;
    margin: 1rem;
    font-weight: bold;
    box-shadow: 5px 3px 7px 1px red;
  }
  .sub-titulo{
    background-image: linear-gradient(to left, red, white, red, white );
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;

  }
  li {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.1s;
    font-size: 1.5rem;
    }
  
  li:hover {
    font-size: 30px;
    box-shadow: 5px 3px 7px 1px red;
    color: red;
    font-weight: bold;
  }
  
   a {

    text-decoration: none;
    /* anchor element by default do not inherit from the parent, however if we add this value it will. */
    color: inherit;
  }
  
  .firstimg {
    display: flex;
    width: 300px;
    height: 300px;
  }




  