body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color: black;
  }

header {
    background-image: linear-gradient(to top, white, red, white,red);
    text-align: center;
    box-shadow: 5px 3px 7px 1px black;
  }
header:hover {
  color: white;
  background-color: red;
}
  h1 {
   font-size: 3.5rem;
    font-weight: 1000;
    margin: 1rem;
    font-weight: bold;
    box-shadow: 5px 3px 7px 1px red;
  }
  .sub-titulo{
    background-color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
  
    font-weight: bold;

  }
  li {
    font-size: 1rem;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.5rem;
    }
  
  li:hover {
    box-shadow: 5px 3px 7px 1px red;
    color: blue;
  }
  
   a {

    text-decoration: none;
    /* anchor element by default do not inherit from the parent, however if we add this value it will. */
    color: inherit;
  }
  
  .firstimg {
    display: flex;
    width: 500px;
    height: 300px;
  }




  